* {
	margin: 0;
	padding: 0;
}

/* body {
	background-color: orange;
}

.App {
	display: grid;
	grid-template-columns: 25% auto;
	grid-template-rows: auto;
	/* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
/* }
.nav {
	background-color: #d9bf4e;
	grid-column: 1 / 2;
}
.feed {
	background-color: darkorange;
	grid-column: 2 / 3;
	overflow: scroll;
}
button {
	background-color: yellow;
} */
